@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-06 16:23:05
 * @version $Id$
 */

body {
    min-width: 1170px;
}

.g-box {
    width: 1170px;
    margin: 0 auto;
}

nav {
    float: right;
    margin-top: 55px;
}

nav ul {
    display: inline-block;
}

nav ul li {
    float: left;
    padding: 12.5px 0;
    margin-right: 5px;
}

nav ul li a {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 0.3s linear, color 0.2s linear;
    -moz-transition: border 0.3s linear, color 0.2s linear;
    -ms-transition: border 0.3s linear, color 0.2s linear;
    -o-transition: border 0.3s linear, color 0.2s linear;
    transition: border 0.3s linear, color 0.2s linear;
}

nav ul li a:hover {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}


/**************head****************/

.g-hd {
    width: 100%;
    height: 800px;
    background: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

header {
    background: rgba(70, 81, 88, 0.7);
    height: 150px;
}

header .logo {
    float: left;
    margin-top: 58px;
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}

header .logo b {
    color: #4bcaff;
}

.g-hd .doc {
    text-align: center;
    margin-top: 228px;
}

.g-hd .doc span {
    display: inline-block;
    margin: 5px 0;
    padding: 20px 45px;
    font-family: 'San Francisco Display';
    font-weight: 100;
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(70, 81, 88, 0.7);
}


/**************body****************/

.m-layer {
    padding: 80px 0;
}

.m-layer h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: 'Myriad Pro Regular';
    text-transform: uppercase;
    color: #fff;
}

.m-layer h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 45px;
    height: 2px;
    background: #fff;
    content: '';
}


/**services**/

.m-services {
    height: 245px;
    background: #4bcaff;
}

.m-services ul {
    margin-top: 35px;
}

.m-services ul li {
    float: left;
    width: 265px;
    margin-right: 27.5px;
}

.m-services ul li h3 {
    margin-top: 20px;
    font-family: 'Myriad Pro Regular';
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.m-services ul li p {
    margin-top: 10px;
    width: 265px;
    height: 58px;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
}


/**portfolio**/

.m-portfolio {
    height: 684px;
}

.m-portfolio h2 {
    color: #69747b;
}

.m-portfolio h2::after {
    background: #69747b;
}

.m-portfolio nav {
    margin-top: 0;
}

.m-portfolio nav ul li a {
    color: #69747b;
}

.m-portfolio nav ul li a:hover {
    color: #4bcaff;
}

.m-portfolio .pics {
    margin-top: 71px;
}

.m-portfolio .pics ul li {
    float: left;
    margin-right: 30px;
}

.m-portfolio .pics ul li:nth-child(4),
.m-portfolio .pics ul li:nth-child(8) {
    margin-right: 0;
}

.m-portfolio .pics ul li:nth-child(1),
.m-portfolio .pics ul li:nth-child(2),
.m-portfolio .pics ul li:nth-child(3),
.m-portfolio .pics ul li:nth-child(4) {
    margin-bottom: 28px;
}


/*m-default*/

.m-default {
    height: 313px;
    background: #515f67;
}

.m-default .g-box {
    position: relative;
    height: 313px;
}

.m-default .doc {
    width: 486px;
    position: relative;
    top: 40px;
}

.m-default .doc p {
    width: 535px;
    height: 65px;
    line-height: 23px;
    margin-right: 0;
    margin-bottom: 35px;
    font-family: 'Myriad Pro Regular';
    font-size: 14px;
    color: #fff;
}

.m-default .visitBtn {
    position: relative;
    top: 47px;
    padding: 10px 20px;
    font-size: 14px;
    color: #3d484f;
    text-transform: uppercase;
    border: 2px solid #3d484f;
    -webkit-transition: border 0.3s linear, color 0.2s linear;
    -moz-transition: border 0.3s linear, color 0.2s linear;
    -ms-transition: border 0.3s linear, color 0.2s linear;
    -o-transition: border 0.3s linear, color 0.2s linear;
    transition: border 0.3s linear, color 0.2s linear;
}

.m-default .visitBtn:hover {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}

.m-default video {
    position: absolute;
    right: 0;
    top: 0;
}

.m-twitter {
    height: 145px;
    background: #4bcaff;
}

.m-twitter .doc {
    margin-top: 35px;
}

.m-twitter .doc p {
    margin-bottom: 14px;
    font-family: 'Myriad Pro Regular';
    font-size: 25px;
    color: #fff;
}

.m-twitter .doc p b {
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-size: 30px;
}

.m-twitter .fa-twitter {
    float: right;
    color: #fff;
    font-size: 30px;
}

.m-who {
    width: 100%;
    height: 505px;
    background: url(../images/who.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.m-who .m-layer {
    height: 345px;
}

.m-who .doc {
    margin-top: 40px;
}

.m-who .doc p {
    float: left;
    width: 572px;
    height: 60px;
    margin-bottom: 35px;
    margin-right: 13px;
    font-family: 'Myriad Pro Regular';
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    ;
}

.m-who .social {
    float: right;
    position: relative;
    right: 220px;
    top: -91px;
}

.m-who .social i {
    color: #fff;
    margin-right: 20px;
    font-size: 25px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border: 2px solid #fff;
    text-align: center;
}

.m-testimonials {
    height: 200px;
}

.m-testimonials h2 {
    color: #69747b;
}

.m-testimonials h2:after {
    background: #69747b;
}

.m-testimonials i {
    color: #69747b;
    font-size: 30px;
    float: right;
}

.m-testimonials p {
    margin-top: 40px;
    line-height: 38px;
    font-family: 'SegoeUI';
    font-weight: lighter;
    font-size: 28px;
    color: #69747b;
}

.m-testimonials b {
    display: inline-block;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 14px;
    color: #4bcaff;
}

.m-contact {
    width: 100%;
    height: 814px;
    background: url(../images/contact.jpg);
    background-repeat: none;
    background-position: 50% 0;
}
.m-contact .m-layer{
	height: 654px;
}
.m-contact form {
    margin-top: 40px;
}

.m-contact .formStyle {
    margin-top: 35px;
}

.m-contact form label {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: top;
}

.m-contact form input,.m-contact form textarea{
    display: block;
    margin-top: 5px;
    width: 470px;
    height: 60px;
    color: #fff;
    text-indent: 10px;
    font-size: 18px;
    background: none;
    border: 1px solid #fff;
}

.m-contact form textarea {
    width: 100%;
    height: 220px;
}
.m-contact form button{
	width: 370px;
	height: 60px;
	color: #fff;
	margin-top: 39px;
	text-transform: uppercase;
	background:#4bcaff;
	border-radius: none;
	border: none;
}
.m-contact .doc{
	width: 575px;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -563px;
	float: right;
}
.m-contact .doc p{
	margin-bottom: 40px;
}
/********************footer*****************/
.g-ft{
	height: 170px;
	background:#353f47;
}
.g-ft .g-box{
	padding: 80px 0;
}
.g-ft ul li{
	float: left;
}
.g-ft ul li a{
	padding:0 10px;
	font-size: 12px;
	text-transform: uppercase;
	color:#515f67;
	border-right: 2px solid #515f67;
}
















